h1, h2, h3, h4, h5, h6, p, td, th {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-weight:800;
}
.text-title {
    -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-image: -webkit-linear-gradient(left, red, orange, yellow, green, blue);
}
.container-1 {
    width:100%;
}
.container-fluid {
    width: 100%;
}
.red {
    color:red;
    position:absolute;
    right:9px;
    bottom:3px;
    font-weight:1600;
}

.basketbutton {
padding-right:90px;
}

.margin-center {
    margin-left: auto;
    margin-right: auto;
}
.redimension {
    height:20rem;
    object-fit:cover;
    max-width:100%;
    width:100%;
    max-height:100%;
}

.redimension-basket {
    height:6rem;
    object-fit:cover;
    max-width:100%;
    width:200px;
    max-height:100%;
}
.t {
    margin-top: 50%!important;
    margin-bottom: 50%!important;
}

.sous-ligne {
    text-decoration: white wavy underline;
}

.modal-footer, .modal-body, .modal-header {
    background-color: #343a40!important;
}

.square-palebrown { 
    width:40px!important; 
    height:40px!important; 
    background-color: #755847; 
    margin:5px; 
}
.square-darkbrown { 
    width:40px!important; 
    height:40px!important; 
    background-color: #654321; 
    margin:5px; 
}
.square-white { 
    width:40px!important; 
    height:40px!important; 
    background-color: #FFFFFF;
     margin:5px; 
    }
.square-tan { 
    width:40px!important; 
    height:40px!important; 
    background-color: #D2B48C; 
    margin:5px; 
}
.square-chocolate { 
    width:40px!important; 
    height:40px!important; 
    background-color: #D2691E; 
    margin:5px; 
}
.square-black { 
    width:40px!important; 
    height:40px!important; 
    background-color: #000000; 
    margin:5px; 
}
.square-brown { 
    width:40px!important; 
    height:40px!important; 
    background-color: #A52A2A; 
    margin:5px; 
}
.square-blue { 
    width:40px!important; 
    height:40px!important; 
    background-color: #0000FF; 
    margin:5px; 
}
.square-pink { 
    width:40px!important; 
    height:40px!important; 
    background-color: #FFC0CB; 
    margin:5px; 
}
.square-beige { 
    width:40px!important; 
    height:40px!important; 
    background-color: #F5F5FC; 
    margin:5px;
}
.panelcouleurs:hover {
    cursor: pointer;
}

.text-footer {
    font-size:12px;
}

.fa-times {
    color: #be1111;
    }

@media screen and (max-width: 600px)
{

    
}